* {
  padding: 0;
  text-decoration: none;
  margin: 0;
}

/* Animation */
@keyframes fadeUpDown {
  0% {
    transform: scale(0);
  }

  40% {
    transform: scale(1.2);
  }

  60% {
    transform: scale(1);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeUp {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Font Family*/
/* Gilroy */
@font-face {
  font-family: 'gilroyextrabold';
  src: url('gilroy-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* HTML */
body {
  background: linear-gradient(to right, #00083B, #0092FF);
}

.container  {
  height: 100vh;
  background-image: url('img/hexagon.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.navbar {
  position: fixed;
  z-index: 11;
  top: 10px;
  right: 0;
  left: 0;
  padding: 5px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.menu a {
  font-size: 1.2em;
  font-family:'Raleway', sans-serif;
  color: white;
  opacity: .9;
}

.menu a:hover {
  opacity: 1;
}

.cover {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding-top: 70px;
  gap: 10px;
}

.content {
  padding: 10px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title h1 {
  font-family: 'gilroyextrabold', arial;
  font-size: 8em;
  color: white;
  display: flex;
  margin-left: -5px;
  margin-bottom: -35px;
}

.title h2 {
  font-family: 'gilroyextrabold', arial;
  color: white;
  font-size: 2.8em;
}

.content p {
  color: white;
  font-family:'Raleway', sans-serif;
  line-height: 22px;
}

button {
  width: 100px;
  background-color: #36BCE1;
  border: none;
  color: white;
  padding: 3px 10px;
  border-radius: 15px;
  margin-top: 20px;
  font-family:'Raleway', sans-serif;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: #35a6c5;
}

.sosmed {
  width: 160px;
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.sosmed a {
  margin-top: 25px;
  display: flex;
  align-items: center;
  opacity: .8;
}

.sosmed a:hover {
  opacity: 1;
}

.hp {
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.bgHP {
  transform: rotate(0deg);
  animation: rotate 2s ease forwards;
  animation-delay: 2s;
}

.cover-HP {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.smartphone {
  transform: scale(0);
  animation: fadeUpDown 1.5s ease forwards;
  animation-delay: 2.5s;
}

/* Menu Toggle */
.menuToggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menuToggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: white; 
}

/* Responsive */
@media screen and ( max-width: 992px) {
  .container {
    background-image: none;
  }

  .cover {
    background-image: url(img/hexagon.png);
  }

  .cover {
    display: flex;
    flex-direction: column;
  }

  .content {
    order: 2;
  } 

  .hp {
    order: 1;
  }

  .navbar {
    top: 0;
    background: linear-gradient(to right, #00083B, #0092FF);
  }

  .menu {
    display: none;
    width: 30%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    height: 100vh;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: #010b4e;
    transform: translateX(100%);
    transition: all 1s;
  }

  .menu a {
    margin-left: 20px;
  }
   
  .menuToggle {
    display: flex;
  }

  .showSlide {
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .sosmed {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 576px) {
  .content {
    padding: 10px 30px;
  }
  
  .sosmed {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}